<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="shortcut icon" href="/statics/images/favicon.ico">
        <link rel="stylesheet" href="/bower_components/normalize.css/normalize.css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/dist/styles/dispatcher.min.css">
    </head>
    <body>
        <!-- action bar -->
        <div class="action-bar">
            <div class="v-card">
                <img src="/statics/images/default-avatar.png" alt="" class="v-card__avatar img-circle cursor--pointer">
                <span class="label label-primary">欢迎您</span>
            </div>
            <nav class="tab-navs">
                <a href="" class="tab-navs__item tab-navs__item--active">邮件分发</a>
                <a href="" class="tab-navs__item">设置</a>
            </nav>
        </div>
        <!-- main content -->
        <div class="main-body">
            <!-- email dispatcher -->
            <div class="main-body__tab tab main-body__tab--active">
                <div class="dispatcher-viewer row--full column--full box--clip">
                    <div class="dispatcher-viewer__email-table-holder row--full">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>发件人</th>
                                    <th width="60%">主题</th>
                                    <th>时间</th>
                                </tr>
                            </thead>
                            <tbody class="email-rows">

                            </tbody>

                        </table>
                    </div>
                    <div class="row--full text--center column--full loader-indicator">
                        <i class="fa fa-spinner fa-pulse fa-3x"></i>
                    </div>
                    <nav class="dispatcher-viewer__email-table-pagination text--center">
                        <ul class="pagination">
                            <li>
                                <a href="#" disabled aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li>
                                <a href="#" disabled aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- setting tab -->
            <div class="main-body__tab tab">
                <form role="form" class="form form__user-creation">
                    <div class="form-group">
                        <label for="user-creation__username">用户名</label>
                        <input type="text" class="form-control" id="user-creation__username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="user-creation__password">密码</label>
                        <input type="password" class="form-control" id="user-creation__password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="user-creation__password-confirmation">确认密码</label>
                        <input type="password" class="form-control" id="user-creation__password-confirmation" placeholder="Password Confirmation">
                    </div>
                    <select class="form-control mb--lg" id="user-creation__type">
                        <option value="">选择用户类别：</option>
                        <option value="dispatcher">邮件分发员</option>
                        <option value="handler">邮件处理员</option>
                        <option value="assessor">邮件审核员</option>
                    </select>
                    <h5 class="form__error alert alert-danger mt mb--lg"></h5>
                    <input type="submit" value="保存" class="user-creation__confirm-btn btn btn-primary btn-lg btn-block" />

                </form>
            </div>
        </div>

        <div class="modal fade" id="modal__email-viewer">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">邮件分发</h4>
                    </div>
                    <div class="modal-body">
                        <h3 class="modal__email-topic mt--0 flag"></h3>
                        <div class="modal__email-metas">
                            <h4>
                                <span class="label label-primary modal__email-metas-label">发送者：</span>
                                <span class="modal__email-sender"></span>
                            </h4>
                            <h4>
                                <span class="label label-primary modal__email-metas-label">发送时间：</span>
                                <span class="modal__email-send-at"></span>
                            </h4>
                        </div>
                        <div class="plr--lg ptb--lg">
                            <div class="modal__email-content">
                            </div>
                        </div>
                        <div class="modal__email-dispatcher mt--extra">
                            <div class="meta-box plr ptb">
                                <div class="email__tags-holder"></div>
                                <form class="email__tag-input-form mtb">
                                    <div class="input-group row--full modal__email-tags-manager">
                                        <input type="text" class="form-control" id="email__tag-input" placeholder="输入标签"/>
                                    <span class="input-group-addon" id="email__tag-input-confirm-btn">
                                        <button class="btn btn-primary">确定</button>
                                    </span>
                                    </div>
                                </form>
                            </div>
                            <div class="email__handler-selector-holder">
                                <h4 class="flag">选择处理人员
                                    <select class="form-control" id="email__handler-selector">
                                    </select>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default modal__cancel-btn" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary modal__confirm-btn">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <script type="text/template" id="tpl__pagination">
            <ul class="pagination">
                <% for (var i = pageStart; i < pageEnd; i++) { %>
                    <li>
                        <a href="#" data-page="<%=i%>"
                                <% if (i === currentPage) { %>
                                     class="active"
                                <% } %>
                        ></a>
                    </li>
                <% } %>
            </ul>
        </script>
        <script type="text/template" id="tpl__email">
            <tr data-id="<%= id %>">
                <td><%= sender %></td>
                <td><%= topic %></td>
                <td><%= data %></td>
            </tr>
        </script>
        <script type="text/template" id="tpl__empty">
            <div class="text--center empty-indicator column--full flex--column flex-mx--center">
                <i class="fa fa-4x fa-life-ring"></i>
                <h3>空空如也</h3>
            </div>
        </script>
        <!-- scripts -->
        <script src="/bower_components/requirejs/require.js" data-main="/dist/scripts/dispatcher"></script>
    </body>
</html>