<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="shortcut icon" href="/statics/images/favicon.ico">
        <link rel="stylesheet" href="/bower_components/normalize.css/normalize.css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/dist/styles/login.min.css">
    </head>
    <body class="bg-primary">
        <h2 class="text--center bg-primary center-block mtb--0 login__welcome"> 企业邮箱分发处理系统</h2>
        <form class="login-form">
            <div class="input-group">
                <label class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </label>
                <input type="text" placeholder="用户名" required="" class="username form-control">
            </div>
            <div class="input-group mtb--lg">
                <label class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                </label>
                <input type="password" placeholder="密码" required="" class="password form-control">
            </div>

<!--             <h5 class="login-error alert alert-danger mt mb--lg"></h5>
 -->
            <button data-enabled-text="登陆" class="login-btn btn btn-primary btn-lg btn-block">登陆</button>
        </form>
    </body>
</html>
