<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="shortcut icon" href="/statics/images/favicon.ico">
        <link rel="stylesheet" href="/bower_components/normalize.css/normalize.css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/dist/styles/root-manage.min.css">
    </head>
    <body>
        <!-- action bar -->
        <div class="action-bar">
            <div class="v-card">
                <img src="/statics/images/default-avatar.png" alt="" class="v-card__avatar img-circle cursor--pointer">
                <span class="label label-primary">欢迎您</span>
            </div>
            <nav class="tab-navs">
                <a href="" class="tab-navs__item tab-navs__item--active">配置邮箱</a>
                <a href="" class="tab-navs__item">创建用户</a>
                <a href="" class="tab-navs__item">查看用户</a>
            </nav>
        </div>
        <!-- main content -->
        <div class="main-body">
            <!-- email configuration tab -->
            <div class="main-body__tab main-body__tab--active tab">
                <form class="form form__mail-conf" role="form">
                    <div class="form-group">
                        <label for="email__address">邮箱地址</label>
                        <input type="email" class="form-control" id="email__address" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="email__password">邮箱密码</label>
                        <input type="password" class="form-control" id="email__password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="email__password-confirmation">确认密码</label>
                        <input type="password" class="form-control" id="email__password-confirmation" placeholder="Password Confirmation">
                    </div>
                    <h5 class="form__error alert alert-danger mt mb--lg"></h5>
                    <input type="submit" value="保存" class="email__conf-save-btn btn btn-primary btn-lg btn-block" />
                </form>
            </div>
            <!-- user creation tab -->
            <div class="main-body__tab tab">
                <form role="form" class="form form__user-creation">
                    <div class="form-group">
                        <label for="user-creation__username">用户名</label>
                        <input type="text" class="form-control" id="user-creation__username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="user-creation__password">密码</label>
                        <input type="password" class="form-control" id="user-creation__password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="user-creation__password-confirmation">确认密码</label>
                        <input type="password" class="form-control" id="user-creation__password-confirmation" placeholder="Password Confirmation">
                    </div>
                    <select class="form-control mb--lg" id="user-creation__type">
                        <option value="">选择用户类别：</option>
                        <option value="dispatcher">邮件分发员</option>
                        <option value="handler">邮件处理员</option>
                        <option value="assessor">邮件审核员</option>
                    </select>
                    <h5 class="form__error alert alert-danger mt mb--lg"></h5>
                    <input type="submit" value="保存" class="user-creation__confirm-btn btn btn-primary btn-lg btn-block" />

                </form>
            </div>
            <!-- user list -->
            <div class="main-body__tab tab">
                <div class="user-viewer text--center">
                    <div class="user-viewer__type-switcher-holder btn-group">
                        <button class="btn user-viewer__type-switcher btn-primary plr--extra active" data-type="dispatcher">分发员</button>
                        <button class="btn user-viewer__type-switcher btn-primary plr--extra" data-type="handler">处理员</button>
                        <button class="btn user-viewer__type-switcher btn-primary plr--extra" data-type="assessor">审查员</button>
                    </div>
                    <div class="user-viewer__filter">
                        <input type="text" class="user-viewer__filter-term" placeholder="搜索用户">
                    </div>
                    <div class="user-viewer__holder">
                        <div class="table-responsive">
                            <table class="table table--bordered">
                                <div class="user-viewer__list active">

                                </div>
                                <div class="user-viewer__list">

                                </div>
                                <div class="user-viewer__list">

                                </div>
                            </table>
                        </div>
                    </div>
                    <div class="row--full text--center column--full loader-indicator">
                        <i class="fa fa-spinner fa-pulse fa-3x"></i>
                    </div>
                    <nav class="user-viewer__pagination text--center">
                        <ul class="pager">
                            <li><a href="#" disabled>上一页</a></li>
                            <li><a href="#" disabled>下一页</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <script type="text/template" id="tpl__pagination">
            <ul class="pagination">
                <% for (var i = pageStart; i < pageEnd; i++) { %>
                    <li>
                        <a href="#" data-page="<%=i%>"
                                <% if (i === currentPage) { %>
                                     class="active"
                                <% } %>
                        ></a>
                    </li>
                <% } %>
            </ul>
        </script>
        <script type="text/template" id="tpl__empty">
            <div class="text--center empty-indicator column--full flex--column flex-mx--center">
                <i class="fa fa-4x fa-life-ring"></i>
                <h3>空空如也</h3>
            </div>
        </script>
        <!-- scripts -->
        <script src="/bower_components/requirejs/require.js" data-main="/dist/scripts/root-manage"></script>
    </body>
</html>