#email-editor {
}
.simditor {
  min-width: 100% !important;
}
.simditor-toolbar {
  min-width: 800px !important;
}
#email-creator {
  &-wrapper {
    width: 100%;
  }
  &__receiver-address {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.handler-viewer {
  width: 80%;
  &__type-switcher-holder {
    @extend .user-viewer__type-switcher-holder;
  }
  &__email-table-holder {
    height: $dispatcher-viewer__email-table-holder_height;
  }
  &__email-table-pagination {
    height: $dispatcher-viewer__email-table-pagination_height;
  }
  tr {
    @extend .cursor--pointer;

  }
}
