.action-bar {
    height: $action-bar_height;
    @extend .plr--extra;
    @extend .flex--row;
    .tab-navs {
        @extend .flex-item-self-align--end;
        @extend .flex--row;
        @extend .flex-mx--end;
        @extend .flex--1;
        border-bottom: 1px solid #ddd;
        &__item {
            @extend .cursor--pointer;
            text-decoration: none;
            margin-bottom: -1px;
            margin-left: 2px;
            display: inline-block;
            padding: 8px 6px;
            border: 1px solid transparent;
            border-bottom-color: #ddd;
            background-color: white;
            border-radius: 4px 4px 0 0;
            &--active {
                color: #666;
                border-color: #ddd;
                border-bottom-color: transparent;
            }
            &:not(.tab-navs__item--active):hover {
                background-color: #eee;
            }
        }
    }
}
.main-body {
    height: calc(100% - #{$action-bar_height});
    @extend .box--auto;
    @extend .pt--extra;
    @extend .plr;
    &__tab {
        @extend .row--full;
        @extend .column--full;
        display: none;
        &.main-body__tab--active {
            @extend .flex--column;
        }
    } 
}
.form {
    width: 460px;
    &__error {
        display: none;
    }
}
.user-viewer {
    width: 80%;
    @extend .column--full;
    @extend .flex--nowrap;
    @extend .rel;
    &__type-switcher {
        height: $user-viewer__type-switcher_height;
    }
    &__filter {
        @extend .row--full;
        height: $user-viewer__filter_height;
        &-term {
            @extend .row--full;
            @extend .input;
            @extend .input--bare;
            @extend .input--flat;
            @extend .input--light;
        }
    }
    &__holder {
        height: $user-viewer__holder_height;
        @extend .box--auto;
    }
    &__pagivation {
        height: $user-viewer__pagination_height;
        line-height: $user-viewer__pagination_height;
        .pagination {
            @extend .mtb--0;
        }
    }
    .user {
        @extend .ptb--lg;
        @extend .plr--lg;
        @extend .mtb;
        background-color: $bootstrap-primary;
        border-radius: 4px;
        color: white;
    }
}
.loader-indicator {
    @extend .abs;
    @extend .abs--top;
    @extend .abs--left;
    @extend .row--full;
    @extend .column--full;
    padding-top: 200px;
    color: $bootstrap-primary;
}
