$light-grey: #d9d9d9;
$dark-grey: rgb(46,50,60);
$azure: rgb(245,248,250);
$dark-white: #f2f5f9;
$light-blue: rgb(32,56,84);
$morning-blue: rgb(229,242,247);
$powder-blue: rgb(192,222,237);
$oxford-blue: #152436;
$baby-blue: rgb(142,193,218);
$sky-blue: rgb(85,172,238);
$true-blue: #428bca;
$primary-blue: rgb(0,95,175);
$light-cyan: rgb(224,239,241);
$pure-blue: rgb(0,172,237);
$deep-blue: rgb(11,97,173);
$bootstrap-primary: rgb(69,140,200);
$paper-blue:rgb(82,179,217);
$weak-blue: rgb(62,180,187);
$facebook-blue: rgb(34,63,105);
$dark-night: rgb(12,12,13);
$lovely-green: rgb(27,188,155);
$braight-green:rgb(52,200,73);
$deep-green:rgb(74,196,86);
$light-dark: rgb(14,21,27);
$morning-dark: rgb(11,16,21);

$default-color: $dark-night;
$default-bg-color: $dark-white;