/**
 * default $var related for theming
 * --------------------------------------------
 * naming: item-name__sub-item-name--state-name_prop-name
 */

// commons
$default-placeholder_color:                                   $light-grey !default;

// login page components var
$login-form_width:                                            460px !default;

$action-bar_height:                                           80px !default;

$user-viewer__type-switcher_height:                           40px !default;
$user-viewer__filter_height:                                  40px !default;
$user-viewer__pagination_height:                              60px !default;
$user-viewer__holder_height:                                  calc(100% - #{$user-viewer__type-switcher_height} - #{$user-viewer__filter_height} - #{$user-viewer__pagination_height}) !default;

$dispatcher-viewer__email-table-pagination_height:            60px !default;
$dispatcher-viewer__email-table-holder_height:                calc(100% - #{$dispatcher-viewer__email-table-pagination_height}) !default;
// components
